body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
  overflow: hidden;
  font-family: 'Noto Sans', sans-serif;
  font-size: 100%;
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.git-logo {
  position: absolute;
  width: 160px;
  z-index: 999;
  top: 0;
  right: 0;
}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #FFE699;
  background: -webkit-linear-gradient(180deg,#6DBC9D,#1c4348);
  background: -o-linear-gradient(180deg,#6DBC9D,#1c4348);
  background: -moz-linear-gradient(180deg,#6DBC9D,#1c4348);
  background: linear-gradient(180deg,#6DBC9D,#1c4348);
}

.title > h1 {
  font-size: 50px;
}

.title > a {
  z-index: 999;
}

.title > p {
  margin-top: -30px;
  font-size: 20px;
}

.content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 20%;
}

.content ul {
  margin: 0;
  width:100%;
}

.content ul li {
  list-style-type: none;
  padding-left: 20px;
}

.content ul li a {
  font-size: 30px;
  text-decoration: none;
  color: #1c4348;
}

h3 {
  margin: 0;
  font-size: 50px;
  padding-left: 10px;
  color: goldenrod;
}

.group .group h3 {
  padding-left: 50px;
}

.searchInput {
  font-size: 80px;
}

.quickPanel {
  text-align: center;
}

.quickPanel ul li {
  display: inline;
  margin-right: 30px;
}

.quickIcon {
  width: 100px;
}

.quickIcon:hover {
  display: inline-block;
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0%    { transform: translate(0, 0px)    rotate(0);     }
  25%   { transform: translate(0, -10px)  rotate(5deg);  }
  50%   { transform: translate(0, 0px)    rotate(0);     }
  75%   { transform: translate(0, -10px)  rotate(-5deg); }
  100%  { transform: translate(0, 0px)    rotate(0);     }
}

.material-icons.float { 
  z-index: 999;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.material-icons.bigger { 
  font-size: 36px; 
}

.material-icons.active { 
  color: #FB8C00; 
}

.material-icons:hover {
  display: inline-block;
  animation: rotate 1s;
}

@keyframes rotate {
  100%  { transform: rotate(180deg); }
}

.setting-title h2 {
  color: #8600FF;
  text-transform: uppercase;
  font-size: xx-large;
}

.settings li {
  list-style-type: none;
  color: #8600FF;
  font-weight: bold;
}

.setting-item {
  padding-left: 10px !important;
}